# External sources
/external_repos/
*.zip

# Bot runtime data and test data
/db-data/
/src/db-data/
/src/db-data-old/
/es-data/
/src-old/resources/
/src/resources/
*.log
*.log.*
/attachments/
/resources/
/image_recognition/

# Work-in-progress files
jupyter_notebooks/
/output/
*.png
*.jpg
*.jpeg

# environments
env
.env
.env_dev

# IDEA
.idea
/.vscode/

# Compilation
**/__pycache__/
/__pycache__/

# Depracated
*.json
/src-old/