# External sources
/external_repos/
*.zip

# Bot runtime data and test data
/db-data/
/src/resources/
*.log
/attachments/
/resources/
/image_recognition/

# Work-in-progress files
jupyter_notebooks/
/output/
*.png
*.jpg

# environments
env
.env

# IDEA
.idea
/.vscode/

# Compilation
**/__pycache__/
/__pycache__/
